.visibleUpdateMisProyecto {
  display: block;
}
.invisibleUpdateMisProyecto {
  display: none;
}

/*Componente SinProyectos*/
.rebote img{
  position: relative;
  animation-name: rebote;
  animation-duration: 2s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: ease-in;
}

@keyframes rebote {
  0%   {left:0px; top:0px;}
  25%  {left:0px; top:0px;}
  50%  {left:0px; top:-50px;}
  75%  {left:0px; top:-50px;}
  100% {left:0px; top:0px;}
}
