* {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
  font-family: sans-serif !important;
}
body {
  background-color: #f4f4f4 !important;
}

.container-off {
  height: 90vh;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 50px;
  transition: margin-left 1.2s;
}
/* @media (max-width: 900px) {
  .container-on {
    height: 90vh;
    align-items: center;
    padding-left: -120px;
    margin-top: 50px;
    transition: padding-left 1.2s;
  }
} */
@media (min-width: 300px) {
  .container-on {
    height: 90vh;
    align-items: center;
    margin-left: 120px;
    margin-right: 40px;
    margin-top: 50px;
    transition: margin-left 1.2s;
  }
}
@media (min-width: 900px) {
  .container-on {
    height: 90vh;
    align-items: center;
    margin-left: 300px;
    margin-right: 40px;
    margin-top: 50px;
    transition: margin-left 1.2s;
  }
}


